<div>
    <form [formGroup]="BangThontin" (ngSubmit)="OnClick()">
        <div>
            <label>
               MSSV :
            </label>
            <input type="text" formControlName="MasoBray">
        </div>
        <div>
            <label>
               My Name :
            </label>
            <input type="text" formControlName="NameBray">
        </div>
        <div>
            <label>
                Ngày sinh  :
             </label>
            <input type="date" formControlName="DateBray">
        </div>
        <div>
            <label>
                Address :
            </label>
            <input type="text" formControlName="DiachiBray">
        </div>
        <div>
            <label>
                Gioi tinh :
            </label>
            <input type="checkbox" formControlName="GioitinhBray"> (tích vào nếu là Nam/bỏ trống nếu là Nữ)
        </div>
        <div>
            <button [routerLink]="['/hienthi']">
                Click 
            </button>
        </div>
    </form>
    <table>
        <tr>
            <th scope="col"> MSSV </th>
            <th scope="col"> Họ và tên </th>
            <th scope="col"> Ngày sinh </th>
            <th scope="col"> Địa chỉ </th>
            <th scope="col"> Giới tính </th>

        </tr>
        <tr *ngFor="let bray of list ">
            <td>{{bray.Number1}}</td>
            <td>{{bray.Name1}}</td>
            <td>{{bray.Date1}}</td>
            <td>{{bray.Diachi1}}</td>
            <td>
                <p *ngIf="bray.Gioitinh1==true">
                    Nam
                </p>

                <p *ngIf="bray.Gioitinh1!=true">
                    Nữ
                </p>
            </td>
        </tr>
    </table>
    <style>
        table,
        th,
        td {
            border: 1px solid rgb(189, 128, 128);
            border-collapse: collapse;
            padding: 5px;
        }
        
        table tr:nth-child(odd) {
            background-color: #a9b6af;
        }
        
        table tr:nth-child(even) {
            background-color: #7a84a5;
        }
    </style>
    <router-outlet></router-outlet>
</div>